{% load static %}
<!DOCTYPE html>
<html lang="es">

<head>

<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<title>{% block title %}EMR Médico{% endblock %}</title>

<link rel="stylesheet" href="{% static 'css/styles.css' %}">

<link href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;600&display=swap" rel="stylesheet">

</head>

<body>

<div class="container">
   
<!-- SIDEBAR -->
<aside class="sidebar">

<div class="logo">
<h2>EMR</h2>
</div>

<nav>

<ul>

<li>
<a href="{% url 'dashboard' %}">
🏠 Inicio
</a>
</li>

<li>
<a href="{% url 'lista_pacientes' %}">
📁 Expedientes
</a>
</li>

<li>
<a href="{% url 'crear_paciente' %}">
➕ Nuevo Paciente
</a>
</li>

<li>
<a href="#">
📄 Resúmenes clínicos
</a>
</li>

<li>
<a href="#">
⬇ Exportaciones PDF
</a>
</li>

<li>
<a href="#">
🛡 Respaldo y seguridad
</a>
</li>

</ul>

</nav>

</aside>

<!-- CONTENIDO -->

<div class="main">

<!-- TOPBAR -->

<header class="topbar">

<form method="GET" action="{% url 'dashboard' %}">

    <input
    type="text"
    name="q"
    placeholder="Buscar paciente por nombre o identificación">

</form>

<div class="user">

<span>Sistema protegido</span>

</div>

</header>

<!-- CONTENIDO DINÁMICO -->

<div class="content">

{% block content %}

{% endblock %}

</div>

</div>

</div>

</body>

</html>